---json
{
  "permalink": "posts/feed.xml",
  "tags": ["footer_nav"],
  "link_text": "RSS feed",
  "type": "application/atom+xml",
  "weight": 32,
  "description": "Provide this link to your RSS reader, and get updates whenever something new is posted! (It is actually an Atom feed, but whatever.)",
  "metadata": {
    "title": "Three Dots",
    "subtitle": "The website of Alan Rempel, an elliptical man",
    "url": "http://threedots.ca",
    "feedUrl": "http://threedots.ca/posts/feed.xml",
    "author": {
      "name": "Alan Rempel",
      "email": "alan.rempel@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.post | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.post %}
  {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  {%- set summary %}{{ post.data.synopsis or post.data.description or "" }}{% endset %}
  <entry>
    <title>{{ post.data.title or (post.templateContent | striptags(false) | truncate(40, false, " …")) }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    {%- if post.data.date_revised %}
    <updated>{{ post.data.date_revised | rssDate }}</updated>
    <published>{{ post.date | rssDate }}</published>
    {%- else %}
    <updated>{{ post.date | rssDate }}</updated>
    {%- endif %}
    <id>{{ absolutePostUrl }}</id>{% if summary %}
    <summary>{{ summary }}</summary>{% endif %}
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
