---toml
title = "Hello"
link_text = "Home"
description = "The website of Alan Rempel, a elliptical human man."
layout = "base"
tags = ["nav"]
weight = 0
---
        <section>
        <article>
          <h1>Good evening!</h1>
          <p>I am Alan; this is my website.
          Currently it consists of my <a href="/#blog"><b>blog</b></a>, which I update according as I
          have spare time and whim, some <a href="/#miscellaneous"><b>miscellaneous lists</b></a>. There is also
          a page with a little more <a href="/introduction"><b>about</b></a> this website and me.
          Feel free to browse.
          <p><small class="date">Last updated on <time datetime="2020-08-27">Thursday, August 27th, 2020</time></small>
        </article>
        </section>
        <section id="blog" class="border-top">
          <h1><a href="/posts">Blog</a></h1>
          {% for post in collections.post | reverse | batch(3) | first %}
          {% include "post-summary.njk" %}
          {% endfor %}
          <p class="see-all"><a href="/posts">See all posts …</a></p>
        </section>
        <section id="miscellaneous" class="border-top" >
          <h1><a href="/misc">Miscellaneous lists</a></h1>
          <ul>
            {% for misc_page in collections.lists | batch(3) | first -%}
            <li>
              {% include "misc_page_link.njk" %}
            </li>
            {%- endfor %}
          </ul>
          <p class="see-all"><a href="/misc">See more … </a></p>
        </section>
