---
tags: [is_post]
layout: base
type: BlogPosting
---
    <article class="full" id="post">
      <header>
        <div class="date">
        <time datetime="{{ page.date | iso_date }}">{{ page.date | nice_date }}</time>
                {%- if date_revised %}
                <small>– Revised {% date date_revised %}</small>
                {%- endif %}
        </div>
        {% if title %}<h1 class="title">{{ title }}</h1>{% endif %}
      </header>
      {{ content | safe }}

{% include "footnotes.njk" %}
    </article>
