*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }

a {
  color: var(--link-colour, inherit);
  text-decoration-line: var(--link-text-decoration-line, none);
  text-decoration-thickness: var(--link-initial-text-decoration-thickness, 0.05em);
  text-underline-offset: 0.2em;
  transition: text-decoration-thickness 0.2s;
}
a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: var(--link-hover-text-decoration-thickness, 0.1em);
}

p, ol, ul, nav, blockquote, details {
  --link-colour: var(--text-colour-highlight);
  --link-initial-text-decoration-thickness: 0.05em;
  --link-hover-text-decoration-thickness: 0.14em;
  --link-text-decoration-line: underline;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  margin-top: calc(var(--paragraph-spacing-factor, 0) * var(--base-line-height));
}

ol, ul {
  padding-inline-start: 1.5em;
}

b {
  font-weight: 600;
}

strong {
  font-weight: 700;
}

cite {
  font-style: oblique;
}

code {
  font-family: Monaco, Hack, Menlo, 'Fira Code', 'Courier Next', monospace;
  font-size: 0.9em;
}

.inline-block { display: inline-block; margin-inline-end: 1.5ch; }

select {
  margin-inline-start: 0.5em;
}

h1, h2, h3, h4, h5, h6, .heading-like {
  margin: 0;
  --link-text-decoration-line: none;
  --link-colour: inherit;
  --link-initial-text-decoration-thickness: 0.07em;
  --link-hover-text-decoration-thickness: 0.1em;
}

blockquote {
  margin-left: 4%;
  margin-right: 4%;
  color: var(--text-colour-lighter);
}

.link-plain {
  --link-text-decoration-line: none;
}

abbr[title] {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.2em;
}

.smallcaps {
  font-variant-caps: all-small-caps;
  letter-spacing: 0.02em;
}

.smaller {
  font-size: smaller;
  line-height: calc(var(--base-line-height)*0.875);
}

figcaption {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: calc(var(--base-line-height)*0.25);
  font-size: calc(var(--base-font-size)*0.9375);
}

img {
  width: 100%;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.oblique {
  font-style: oblique;
}

.colour-lighter {
  color: var(--text-colour-lighter);
}

.block {
  display: block;
}

sup {
  font-size: 0.625em;
  vertical-align: baseline;
  position: relative;
  top: calc(var(--base-line-height)*-0.25);
  // margin-inline-start: 0.1rem;
}
mark {
  background-color: var(--text-colour-highlight);
  color: var(--background-colour-normal);
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
}

