:root {
  --base-line-height: 1.5rem;
  --base-font-size: 1rem;
  --sans-serif-fonts: -apple-system, BlinkMacSystemFont,
               Lato, 'Open Sans', 'Segoe UI',
               Ubuntu, Roboto, Noto,
               'Helvetica Neue', Helvetica, Arial,
               sans-serif;
  --text-colour-normal: #222222;
  --text-colour-highlight: #783f75;
  --text-colour-lighter: #555555;
  --background-colour-normal: #f8f8f8;
  --background-colour-lighter: #e8e8e8;
  --light-text-normal: #222222;
  --light-text-highlight: #783f75;
  --light-text-lighter: #555555;
  --light-background-normal: #f8f8f8;
  --light-background-lighter: #e8e8e8;
  --container-max-width: 60ch;
  --article-max-width: 50ch;
}

@media (prefers-color-scheme: light) {
  .colour-scheme-auto {
    --text-colour-normal: #222222;
    --text-colour-highlight: #783f75;
    --text-colour-lighter: #555555;
    --background-colour-normal: #f8f8f8;
    --background-colour-lighter: #e8e8e8;
  }
}
@media (prefers-color-scheme: dark) {
  .colour-scheme-auto {
    --text-colour-normal: #e8e8e8;
    --text-colour-highlight: #f0a4ec;
    --text-colour-lighter: #c8c8c8;
    --background-colour-normal: #2f2f2f;
    --background-colour-lighter: #4f4f4f;
  }
}
@media (prefers-color-scheme: no-preference) {
  .colour-scheme-auto {
    --text-colour-normal: #222222;
    --text-colour-highlight: #783f75;
    --text-colour-lighter: #555555;
    --background-colour-normal: #f8f8f8;
    --background-colour-lighter: #e8e8e8;
  }
}

.colour-scheme-light {
  --text-colour-normal: #222222;
  --text-colour-highlight: #783f75;
  --text-colour-lighter: #555555;
  --background-colour-normal: #f8f8f8;
  --background-colour-lighter: #e8e8e8;
}

.colour-scheme-dark {
  --text-colour-normal: #e8e8e8;
  --text-colour-highlight: #f0a4ec;
  --text-colour-lighter: #c8c8c8;
  --background-colour-normal: #2f2f2f;
  --background-colour-lighter: #4f4f4f;
}

body {
  font-family: var(--sans-serif-fonts);
  font-variant-ligatures: contextual;
  font-variant-numeric: proportional-nums;
  font-kerning: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color: var(--text-colour-normal);
  background-color: var(--background-colour-normal);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

.container {
  margin-left: auto; margin-right: auto;
  padding-left: 20px; padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  max-width: var(--container-max-width);
}
.container > * {
  flex: none;
}

.border-top {
  border-top: calc(var(--base-line-height)*0.0875) solid var(--text-colour-normal);
  padding-top: calc(var(--base-line-height)*0.9125);
  margin-top: calc(var(--base-line-height)*1.125);
}

.article-list article {
  margin-top: calc(var(--base-line-height)*0.5);
}
.article-list article + article {
  margin-top: var(--base-line-height);
}

article, #intro {
  --paragraph-spacing-factor: 0.5;
}

article.full {
  max-width: var(--article-max-width);
  margin-left: auto; margin-right: auto;
}

h1 {
  font-weight: 700;
  font-size: calc(var(--base-font-size)*var(--h1-fs-factor));
  line-height: calc(var(--base-line-height)*var(--h1-lh-factor));
}

.top-header {
  --h1-fs-factor: 1;
  --h1-lh-factor: 1;
}

main {
  --h1-fs-factor: 2;
  --h1-lh-factor: 1.75;
  --h2-fs-factor: 1.5;
  --h2-lh-factor: 1.2;
  --h3-fs-factor: 1.2;
  --h3-lh-factor: 1;
}

h2 {
  font-weight: 600;
  font-size: calc(var(--base-font-size)*var(--h2-fs-factor));
  line-height: calc(var(--base-line-height)*var(--h2-lh-factor));
}

h3 {
  font-weight: 500;
  font-size: calc(var(--base-font-size)*var(--h3-fs-factor));
  line-height: calc(var(--base-line-height)*var(--h3-lh-factor));
}

article h2 {
  margin-top: calc(var(--base-line-height)*0.75);
}

.date {
  font-weight: 300;
  color: var(--text-colour-lighter);
}

.date + p {
  margin-top: 0;
}

.see-all {
  margin-top: var(--base-line-height);
}

.read-more {
  --link-text-decoration-line: none;
}

.preview, .summary {
  --paragraph-spacing-factor: 0.25;
}

.synopsis {
  font-style: oblique;
}
.synopsis::before { content: '('; }
.synopsis::after { content: ')'; }

main {
  margin-top: var(--base-line-height);
  margin-bottom: var(--base-line-height);
}

nav {
  --link-hover-text-decoration-thickness: 0.25em;
  --link-initial-text-decoration-thickness: 0.1em;
}

.flex { display: flex; }
.space-between { justify-content: space-between; }
.row { flex-direction: row; }
.column { flex-direction: column; }
.align-right { text-align: right; }
.wrap { flex-wrap: wrap; }

li {
  margin-top: calc(var(--base-line-height)*0.25);
}

main section {
  margin-top: var(--base-line-height);
}

main > section:first-child {
  margin-top: 0;
}

.top-header {
  margin-top: var(--base-line-height);
}

.littlefoot-footnote__content, .footnotes {
  --base-font-size: calc(var(--base-font-size)*0.875);
  --base-line-height: var(--base-line-height);
}
.littlefoot-footnote__content, .littlefoot-footnote__tooltip {
  background-color: var(--background-colour-lighter);
}
.littlefoot-footnote, .littlefoot-footnote__tooltip {
  border-color: var(--text-colour-lighter);
}
.footnotes {
  margin-top:  var(--base-line-height);
}
.footnote-separator {
  margin-block-start: calc(var(--base-line-height)*1);
  border-top-width: 0.0875rem;
  border-top-color: var(--text-colour-lighter);
  border-top-style: solid;
  max-width: 8em;
  margin-inline-start: 1.5em;
}
.dropdown {
  position: relative;
}
.dropdown-toggle {
    cursor: pointer;
}
.dropdown-inner {
position: absolute;
width: -webkit-max-content;
width: max-content;
top: calc(var(--base-line-height)*1.25);
background-color: var(--background-colour-lighter);
padding: calc(var(--base-line-height)*0.25) calc(var(--base-line-height)*0.5);
box-sizing: content-box;
border-radius: 0.5em;
border: var(--text-colour-lighter) solid 0.1em;
right: 0;
box-shadow: 1px 1px 6px 2px #E88188;
}

.nav-link { }
.nav-divider {
  flex-basis: 3ch;
  text-align: center;
  flex-shrink: 1;
}
