<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="DhZUgJjUNSRFdHhycAzNuCiTKprn-1Csb49PU1lsABo">
    <meta name="color-scheme" content="light dark">
    <meta name="author" content="Alan Rempel">
    <link rel="canonical" href="http://threedots.ca
      {%- match content.canonical() %}
      {%- when Some with (c) %}{{ c }}
      {%- when None %}{{ content.url() }}
      {%- endmatch %}">
    <title>{% match content.title() %}{% when Some with (t) -%}
      {{ t }} … {% when None %}{% endmatch %}‹three dots›</title>
    {% match content.description() %}{% when Some with (d) -%}
      <meta name="description" content="{{ d }}">
    {%- when None %}{% endmatch %}
    <link rel="alternate" type="application/atom+xml" href="/posts/feed.xml">
    <link rel="stylesheet" href="/styles/littlefoot.css">
    <link href="/styles.css" rel="stylesheet">
    <script defer src="/bundle.js"></script>
  </head>
  <body class="colour-scheme-auto">
    <div class="container">
      <header class="top-header">
        <div class="flex row space-between wrap">
        <h1><a class="bold" href="/">three dots …</a></h1>
        <details class="dropdown">
                    <summary class="dropdown-toggle">Settings</summary>
                    <div class="dropdown-inner">
                      <p>
                        <label for="colour-scheme">Colour scheme:</label>
                        <select required id="colour-scheme">
                          <option value="auto" selected>System setting</option>
                          <option value="light">Light</option>
                          <option value="dark">Dark</option>
                        </select>
                      </p>
                      <p>
                        <label for="line-height">Spacing:</label>
                        <input id="line-height" type="range" min="1.2" max="1.8" step="0.1" value="1.5">
                      </p>
                    </div>
                  </details>
        </div>
        <nav class="mt-small">
          {% for nav_page in header -%}
          {{ nav_page|safe }}{% if !loop.last %} • {% endif %}
          {%- endfor %}
        </nav>
      </header>
      <main>
        {{ content|safe }}
      </main>
    </div>
    <script data-goatcounter="https://threedots_ca.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
