<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="DhZUgJjUNSRFdHhycAzNuCiTKprn-1Csb49PU1lsABo">
    <meta name="color-scheme" content="light dark">
    <meta name="author" content="Alan Rempel">
    <link rel="canonical" href="http://threedots.ca
      {%- match content.canonical() %}
      {%- when Some with (c) %}{{ c }}
      {%- when None %}{{ content.url() }}
      {%- endmatch %}">
    <title>{% match content.title() %}{% when Some with (t) -%}
      {{ t }} … {% when None %}{% endmatch %}‹three dots›</title>
    {% match content.description() %}{% when Some with (d) -%}
      <meta name="description" content="{{ d }}">
    {%- when None %}{% endmatch %}
    <link rel="alternate" type="application/atom+xml" href="/posts/feed.xml">
    <link rel="stylesheet" href="/styles/littlefoot.css">
    <link href="/styles.css" rel="stylesheet">
    <script defer src="/bundle.js"></script>
  </head>
  <body class="colour-scheme-auto">
    <div class="container">
      <header class="top-header">
        <h1><a class="bold" href="/">three dots …</a></h1>
        <nav class="mt-small">
          {% for nav_page in header -%}
          {{ nav_page|safe }}{% if !loop.last %} • {% endif %}
          {%- endfor %}
        </nav>
      </header>
      <main>
        {{ content|safe }}
      </main>
      <footer class="border-top">
        <section>
          <p>
            <label for="colour-scheme">Colour scheme:</label>
            <select required id="colour-scheme">
              <option value="auto" selected>System setting</option>
              <option value="light">Light</option>
              <option value="dark">Dark</option>
            </select>
          </p>
        </section>
        <section>
          <nav class="link-plain">
            {% for nav_page in footer %}
            <p>{{ nav_page|safe }}</p>
            {% endfor %}
          </nav>
        </section>
      </footer>
    </div>
    <script data-goatcounter="https://threedots_ca.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
