        <h1><span class="greeting">{{content.title}}</span>!</h1>
        <section id="intro" class="p-space-1/2">
          {{content.content|safe}}
        </section>
        <section id="blog" class="border-top article-list" itemscope itemtype="https://schema.org/Blog">
          <h2><a href="/posts">Blog</a></h2>
            {%- for post in latest_posts %}
            {{post.summary()|safe}}
            {%- endfor %}
          <p class="mt-1"><a href="/posts">See all posts …</a></p>
        </section>
        <section id="miscellaneous" class="border-top p-space-1/2" >
          <h2>Miscellaneous lists</h2>
          <ul>
            {%- for misc_page in misc_pages -%}
            <li itemscope itemtype="https://schema.org/Article">
              <span itemprop="headline">{{ misc_page|safe }}</span>
              {%- match misc_page.date_revised %}
              {%- when Some with (dr) %} <small class="light">— Updated {{ dr|safe }}</small>
              {%- when None %}{% endmatch %}
            </li>
            {%- endfor %}
          </ul>
          <!-- <p class="see-all"><a href="/misc">See more … </a></p> -->
        </section>
