        <section id="intro">
          <h1><span class="greeting">{{content.title}}</span>!</h1>
          {{content.content|safe}}
        </section>
        <section id="blog" class="border-top" itemscope itemtype="https://schema.org/Blog">
          <h1><a href="/posts">Blog</a></h1>
          <div class="grid">
            {%- for post in latest_posts %}
            {{post.summary()|safe}}
            {%- endfor %}
          </div>
          <p class="see-all"><a href="/posts">See all posts …</a></p>
        </section>
        <section id="miscellaneous" class="border-top" >
          <h1>Miscellaneous lists</h1>
          <ul>
            {%- for misc_page in misc_pages -%}
            <li itemscope itemtype="https://schema.org/Article">
              <span itemprop="headline">{{ misc_page|safe }}</span>
              {%- match misc_page.date_revised %}
              {%- when Some with (dr) %} <small class="light">— Updated {{ dr|safe }}</small>
              {%- when None %}{% endmatch %}
            </li>
            {%- endfor %}
          </ul>
          <!-- <p class="see-all"><a href="/misc">See more … </a></p> -->
        </section>
