    <article class="full h-entry" id="post" itemscope itemtype="https://schema.org/BlogPosting">
      <header>
        <div class="date">
        {{ date|safe }}
                {%- match date_revised %}
                {%- when Some with (r) %}<small>– Revised {{ r|safe }}</small>
                {%- when None %}
                {%- endmatch %}
        </div>
        {% match title %}
        {%- when Some with (t) %}<h1 class="title p-name" itemprop="headline">{{ t }}</h1>
        {%- when None %}{% endmatch %}
      </header>
      <div class="e-content" itemprop="articleBody">{{ content|safe }}</div>

{# include "footnotes.html" #}
    </article>
