    <article class="mx-auto h-entry" id="post" itemscope itemtype="https://schema.org/BlogPosting">
      <header>
        <p class="colour-lighter light">
        {{ date|safe }}
                {%- match date_revised %}
                {%- when Some with (r) %}<small> – Revised {{ r|safe }}</small>
                {%- when None %}
                {%- endmatch %}
        </p>
        {% match title %}
        {%- when Some with (t) %}<h1 class="title p-name font-size-4.5 semibold" itemprop="headline">{{ t }}</h1>
        {%- when None %}{% endmatch %}
      </header>
      <div class="e-content" itemprop="articleBody">{{ content|safe }}</div>

{# include "footnotes.html" #}
    </article>
