      <section itemscope itemtype="https://schema.org/Blog">
        <header>
          <h1>Blog</h1>
          <nav class="flex row wrap" aria-label="Jump to posts from a specific year" >
            {%- for (year, _) in posts_by_year %}
            <a class="nav-link" href="#y{{ year }}">{{ year }}</a>{% if loop.last %}{% else %}<span class="nav-divider">•</span>{% endif %}
            {%- endfor %}
          </nav>
        </header>
        {%- for (year, posts) in posts_by_year %}
        <section id="y{{ year }}" class="border-top article-list">
          <h2>{{ year }}</h2>
            {%- for post in posts %}
            {{ post.summary()|safe }}
            {%- endfor %}
        </section>
        {%- endfor %}
      </section>
