      <section>
        <header>
          <h1>Blog</h1>
          <nav aria-label="Jump to posts from a specific year" >
            {%- for (year, _) in posts_by_year %}
            <a href="#y{{ year }}">{{ year }}</a>{% if loop.last %}{% else %} • {% endif %}
            {%- endfor %}
          </nav>
        </header>
        {%- for (year, posts) in posts_by_year %}
        <section id="y{{ year }}" class="border-top">
          <h2>{{ year }}</h2>
          {%- for post in posts %}
          {{ post|safe }}
          {%- endfor %}
        </section>
        {%- endfor %}
      </section>
